* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, #662d8c, #ed1e79);
  color: #fff;
  position: relative;
}
.container {
  width: 800px;
  height: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.clock {
  width: 100%;
  height: 100%;
  background: rgba(68, 10, 144, 0.338);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(40px);
}
.container::before {
  content: "";
  width: 180px;
  height: 180px;
  background: #350068;
  border-radius: 5px;
  position: absolute;
  top: -50px;
  left: -50px;
  z-index: -1;
}
.container::after {
  content: "";
  width: 180px;
  height: 180px;
  background: #db2763;
  border-radius: 50%;
  position: absolute;
  right: -30px;
  bottom: -50px;
  z-index: -1;
}
.clock span {
  font-size: 80px;
  width: 110px;
  display: inline-block;
  text-align: center;
  position: relative;
}
.clock span::after {
  content: attr(data-label);
  font-size: 16px;
  position: absolute;
  bottom: -25px;
  left: 50px;
  transform: translateX(-50%);
}
#hrs::after {
  content: "HOURS";
}
#min::after {
  content: "MINS";
}
#sec::after {
  content: "SEC";
}

@media (max-width:600px){
  .container {
    width: 90%;
    height: auto;
  }
}

.clock span {
  font-size: 60px;
  width: auto;
}

.clock span::after {
  font-size: 14px;
  bottom: -20px;
}
